<template lang="pug">
.container
  footer
    | © Ob'vious 2019
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({})
export default class AppFooter extends Vue {
}
</script>

<style scoped lang="sass">
footer
  margin-top: 20px
</style>
