<template lang="pug">
  b-navbar(toggleable='lg')
    b-navbar-brand(:to="{name: 'index'}")
      | Business Card
    b-navbar-nav
      b-nav-item(:to="{name: 'contact'}")
        | Contact
      b-nav-item(:to="{name: 'barcode-scanner'}")
        | Barcode scanner
      b-nav-idem(:to="{name: 'productivity-graph'}")
        | Productivity graph
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({})
export default class AppHeader extends Vue {
}
</script>

<style scoped lang="sass">
.navbar-nav
  .nuxt-link-active
    color: black
</style>
