<template lang="pug">
div(class="barcode-scanner")
  slot(:formats="formats")
    div(id="webcam-view" class="webcam-view" v-show="enabled")
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import Quagga from 'quagga'
import './PBarcodeScanner.types'

@Component
export default class PBarcodeScanner extends Vue {
  @Prop({
    default: () => {
      return ['ean_reader']
    },
    type: Array
  }) formats: Array<string>

  @Prop({ type: Number, default: 4 }) numOfWorkers: number

  @Prop({ type: Boolean, default: true }) locate: boolean

  @Prop({
    default: (): InputStream => {
      return {
        type: 'LiveStream',
        target: '#webcam-view'
      }
    }
  }) inputStream: InputStream

  @Prop({ type: Number, default: 10 }) frequency: number

  @Prop({
    type: Object,
    default: () => {
      return {
        readers: [
          'ean_reader'
        ]
      }
    }
  }) decoder

  @Prop({
    type: Object,
    default: () => {
      return {
        patchSize: 'large',
        halfSample: true
      }
    }
  }) locator

  @Prop({ type: Boolean, default: false }) debug: boolean

  @Prop({ type: Boolean, default: true }) enabled: boolean

  @Prop() bus: Vue

  mounted () {
    this.$nextTick(function () {
        if (this.enabled) {
            this.initQuagga()
        }
    })
    this.$on('change-camera', this.changeCamera)
  }

  cameraId = null

  defaultConfig: QuaggaConfig = {
    inputStream: {
      type: 'LiveStream',
      target: '#webcam-view'
    },
    locator: {
      patchSize: 'large',
      halfSample: true
    },
    frequency: 10,
    decoder: {
      readers: [
        'ean_reader'
      ]
    },
    locate: true,
    debug: false,
    numOfWorkers: 4
  }

  @Watch('enabled')
  onEnabledChanged (val) {
    if (val) {
      this.initQuagga()
    } else {
      this.stopQuagga()
    }
  }

  render () {
    return this.$scopedSlots.default({
      formats: this.formats
    })
  }

  onDetectedCallback (data) {
    // eslint-disable-next-line
    console.log(data.codeResult.code)
    const barcode: Barcode = {
      code: data.codeResult.code,
      format: data.codeResult.format
    }
    this.$emit('barcode-detected', barcode)
  }

  initQuagga () {
    const self = this
    const config = this.prepareQuaggaConfig()
    Quagga.init(config, function (err) {
      if (err) {
        // eslint-disable-next-line
        console.log('[Quagga] Error ' + err.code  + ': ' + err.message)
        self.$emit('quagga-error', err)
        return
      }
      // eslint-disable-next-line
      console.log('[Quagga] Initialization finished. Ready to start')
      self.bus.$emit('quagga-ready')
      Quagga.start()
      Quagga.onDetected(self.onDetectedCallback)
    })
  }

  stopQuagga () {
    Quagga.offDetected(this.onDetectedCallback)
    Quagga.stop()
  }

  prepareQuaggaConfig () {
    const config: QuaggaConfig = this.defaultConfig
    config.numOfWorkers = this.numOfWorkers
    config.locate = this.locate
    config.inputStream = this.inputStream
    config.frequency = this.frequency
    config.decoder = this.decoder
    config.decoder.readers = this.formats
    config.locator = this.locator
    config.debug = this.debug
    if (this.cameraId !== null) {
      if (typeof config.inputStream.constraints === 'undefined') {
        config.inputStream.constraints = { deviceId: this.cameraId }
      } else {
        config.inputStream.constraints.deviceId = this.cameraId
      }
    }
    return config
  }

  changeCamera (deviceId) {
    this.cameraId = deviceId
    this.stopQuagga()
    this.initQuagga()
  }

}
</script>

<style scoped lang="sass">

</style>
