<template lang="pug">
div(class="camera-selector")
  slot(:cameras="cameras" :cameraSelected="cameraSelected" :bus="bus")
    span Select camera:&nbsp
    select(@change="cameraSelected($event.target.value)", class="camera-select")
      option(v-for="camera in cameras", :value="camera.deviceId") {{ camera.label }}
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import Quagga from 'quagga'
import './PCameraSelect.types'

@Component
export default class PCameraSelect extends Vue {
  @Prop({ type: Array, default: () => { return [] } }) cameras: Array<CameraInfo>
  @Prop() bus: Vue

  mounted () {
    this.bus.$on('quagga-ready', this.populateDevicesSelect)
  }

  cameraSelected (cameraId) {
    this.$parent.$emit('change-camera', cameraId)
  }

  populateDevicesSelect () {
    const self = this
    Quagga.CameraAccess.enumerateVideoDevices().then(function (devices) {
      self.cameras.length = 0
      devices.forEach(function (device) {
        self.cameras.push({ deviceId: device.deviceId || device.id, label: device.label })
      })
      self.cameras.push({ label: 'test', deviceId: '343423' })
    })
  }
}
</script>

<style scoped lang="sass">

</style>
