<template lang="pug">
  .container
    AppHeader
    nuxt
    AppFooter
</template>

<script lang="ts">
import AppHeader from '~/components/AppHeader.vue'
import AppFooter from '~/components/AppFooter.vue'
export default {
  components: { AppFooter, AppHeader }
}
</script>

<style lang="sass">
  html
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
</style>
