<template lang="pug">
.container
  p-barcode-scanner(@barcode-detected="barcode = $event", @quagga-error="quaggaError = $event", :formats="formats", :enabled="scannerEnabled", :frequency="frequency", :bus="bus")
    div(slot-scope="{ formats }", class="barcode-scanner")
      p-camera-select(:bus="bus")
        template(slot-scope="{ cameras, cameraSelected, bus}", class="camera-selector")
          span Select a camera:&nbsp
          select(@change="cameraSelected($event.target.value)", class="camera-select-custom")
            option(v-for="camera in cameras", :value="camera.deviceId") {{ camera.label }}
      div Formats:
        span(v-for="format in formats")  {{ format }},
      div Barcode detected: [{{ barcode.format}}] {{ barcode.code }}
      div(v-if="quaggaError") Error {{ quaggaError.code }}: {{ quaggaError.message }}
      b-button(@click="toggleEnable()") {{ scannerEnabled ? 'Disable' : 'Enable' }}
      div(id="webcam-view" class="webcam-view" v-show="scannerEnabled")
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import PBarcodeScanner from '~/components/PBarcodeScanner.vue'
import PCameraSelect from '~/components/PCameraSelect.vue'

@Component({
  components: { PBarcodeScanner, PCameraSelect }
})
export default class BarcodeScanner extends Vue {
  barcode = {}
  quaggaError = null
  formats = ['ean_reader']
  scannerEnabled = true
  frequency = 2
  bus = new Vue()

  toggleEnable () {
    this.scannerEnabled = !this.scannerEnabled
  }
}
</script>

<style scoped lang="sass">

</style>
