<template lang="pug">
  div
    b-form(@submit.prevent='sendMail')
      b-form-group#input-group-contact(label='Email address:' label-for='input-mail' description="We'll never share your email with anyone else.")
        b-form-input#input-mail(v-model='formData.email' type='email' required='' placeholder='Enter email')
      b-form-group#input-group-name(label='Your Name:' label-for='input-name')
        b-form-input#input-name(v-model='formData.name' placeholder='Enter name')
      b-form-group#input-group-message(label='Message:' label-for='input-message')
        b-textarea#input-message(v-model='formData.message')
      b-button(type='submit' variant='primary')
        | Submit
      b-button(type='reset' variant='danger')
        | Reset form
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class Contact extends Vue {
  formData = {
    email: null,
    name: null,
    message: null
  }

  sendMail () {
    alert('[.] Sending email to: \n' + this.formData.email +
      '\n[.] From: \n' + this.formData.name +
      '\n[.] Content:\n' + this.formData.message)
  }
}
</script>

<style scoped lang="sass">
#input-message
  height: 300px
button
  margin-left: 5px
  margin-right: 5px
</style>
