<template lang="pug">

</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import * as d3 from 'd3'

@Component
export default class Contact extends Vue {

}
</script>

<style scoped>

</style>
